@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h1>@TempData["abc"]</h1>
<h1>@TempData["abc1"]</h1>
<h1>@TempData["abc2"]</h1>
<h1>@TempData["abc3"]</h1>
<h1>@TempData["ABC1"]</h1>

<ul>

    @foreach (var pra in (List<string>)TempData["pragam"])
            {
                <li>
                    @pra
                </li>
            }

</ul>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>